@import "../../variables.scss";

.slideshow {
  display: flex;
  flex-direction: row;
  height: 100%;

  &__image--selected {
    height: 360px;
    width: 640px;
    object-fit: contain;
  }

  &__thumbnails {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 10px;
    width: fit-content;

    img {
      border: 1px solid gray;
      width: 100px;
      height: 60px;

      &:hover {
        box-shadow: 0 0 8px 3px $shadow_blue;
      }
    }
  }
}
