@import "../../variables.scss";

.slideshow {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

  &__image--selected {
    height: 360px;
    width: 640px;
    object-fit: contain;
  }

  &__thumbnails {
    display: flex;
    margin: 30px 10px;
    width: fit-content;

    img {
      width: 120px;
      height: 80px;
    }
  }
}
