@import "../../variables.scss";

.parallax {
  background-image: url("../../assets/About.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  height: 60vh;

  &__overlay {
    @include set_overlay(180deg, 0.2, 0.8);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

.about {
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 8px;
  height: 100%;
  margin: 0;
  background-color: rgba($color: $charcoal, $alpha: 0.8);

  p {
    font-size: $detail_font_size;
    font-weight: 500;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin: 0;

    button {
      border-radius: 6px;
      background: transparent;
      color: $white;
      font-size: $detail_font_size;
      font-weight: 500;
      height: 40px;
      width: 180px;
      margin: 0 8px;
      border: 2px solid $white;
      outline: none;
      cursor: pointer;

      &:hover {
        background: $sea_blue;
        border: 2px solid $sea_blue;
        color: $charcoal;
      }
    }
  }
}
