@import "../../variables.scss";

$left_margin: 70px;
$title_font_size: 48px;

.hero {
  background: url("../../background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  color: $white;
  display: flex;
  height: 100vh;
  width: 100%;

  &__overlay {
    @include set_overlay(to left, 0, 0.8);
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  &__text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: $left_margin;
    width: 30%;

    h1 {
      font-size: $title_font_size;
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;

      span {
        font-size: $title_font_size + 2px;
        color: $sea_blue;
      }
    }

    p {
      font-size: 20px;
      margin: 10px 0;
      padding: 0;
    }

    button {
      @extend %button;
      width: 80%;

      &:active {
        transform: scale(0.99);
      }
    }
  }
}
