@import "../../variables.scss";

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  color: $white;

  &__visible {
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #2c5364,
      #203a43,
      #0f2027
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c5364, #203a43, #0f2027);

    .navbar__links {
      a:hover,
      div:hover {
        background-color: #203a43;
      }
    }
  }

  &__logo {
    align-items: center;
    display: flex;
    margin: 8px;

    img {
      display: block;
      width: 40px;
      height: 40px;
      object-fit: contain;
      margin-right: 6px;
    }
  }

  &__links {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    margin: 0 12px;

    div {
      align-items: center;
      display: flex;
      color: $white;
      cursor: pointer;
      height: 100%;
      margin: 0 8px;
      padding: 0 8px;

      a {
        color: $white;
        &:active {
          color: dodgerblue;
        }
      }

      &:active {
        color: dodgerblue;
      }
    }
  }
}
