@import "../../variables.scss";

.listings {
  background: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding-bottom: 70px;
  text-align: center;

  h1 {
    font-size: $title_font_size;
    font-weight: 400;
    line-height: $title_font_size;
    color: $black;
  }
  &__row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }
}
